body {
    background: rgb(255, 248, 220);
}

.menu {
    color: red;
    font-size: 200%;
    text-align: left;
    display: inline-block;
}
.main-menu {
    margin-left:20px;
    width: 75%;
    float: left;
    position: absolute;
    left: 0px;
}
.log-menu {
    position: absolute;
    right: 0px;
    margin: 0px 40px 0px 0px;
    width: 25%;
    text-align: right;
}
.user-name {
    font-size: 100%;
}
.item {
    margin: 200px 0px 0px 0px;
}
.card-item {
    text-align: left;

}
.buy-button {
    background-color: blue;
}
.contact {
    font-size: 250%;
}
div.category {
    float: left;
    width: 200px;
    font-size: 40px;
    color: red;
    border: 1px solid black;
    margin: 200px 10px 10px 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    text-align: center;
    background-color:#B0E0E6;

}
div.item {
    float: left;
    width: 1700;
}
.item-detail {
    text-align: left;
    float: left;
    margin-left: 20%;
}
.add-item {
    float:left;
    margin-left: 10%
}
.form-field {
    margin-top: 20px;
}
div.login {
    text-align: right;
    border: 1px solid black;
    width:50%;
}
.text {
    text-indent: 25px;
}