.menu {
    text-align: center;
    color: red;
    font-size: 150%;
}
.card-item {
    text-align: left;

}
.buy-button {
    background-color: blue;
}
.contact {
    font-size: 250%;
}
div.category {
    float: left;
    width: 200px;
}
div.item {
    float: left;
    width: 1700;
}
.item-detail {
    text-align: left;
    float: left;
    margin-left: 10%;
}
