
.menu {
    color: red;
    text-align: left;
    display: inline-block;
}
.main-menu {
    margin-left:20px;
    width: 75%;
    float: left;
    position: absolute;
    left: 0px;
}
.log-menu {
    position: absolute;
    right: 0px;
    margin: 0px 40px 0px 0px;
    width: 25%;
    text-align: right;
}
.user-name {
    font-size: 100%;
}
.item {
    margin: 50px 0px 0px 0px;
}
.card-item {
    text-align: left;

}
.buy-button {
    background-color: blue;
}
.contact {
    font-size: 250%;
}
.category{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
p {
    box-sizing: content-box !important;
}
a, a:visited {
    color: inherit;
    text-decoration: none;
}
a.card-link-detail {

    padding: 0.29em 0.75em;
    border: 1px;
}
a:hover {

  cursor: pointer;
}
div.link-detail {
    background: #00FFFF;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 6px 20px;
}
.log-menu {
    font-weight: 600;
    color: black;
}
div.item {
    float: left;
    width: 1700;
}
.item-detail {
    text-align: left;
    float: left;
    margin-left: 20%;
}
.add-item {
    float:left;
    margin-left: 10%
}
.form-field {
    margin-top: 20px;
}
div.login {
    text-align: right;
    border: 1px solid black;
    width:50%;
}
.text {
    text-indent: 25px;
}


:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  height: 100vh;
  overflow: hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: purple;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.user-link {
    text-color: black;
}

body {
    background-image: url("../images/фон.jpg") !important;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.card-body {
    border: 4px inset;
}

.paginator {
    display: flex;
    text-align: center;
    position: absolute;
    left: 800px;
    bottom: 100px;
}

.pagin-link {
    margin-right: 10px;
    font-size: 20px;
    border: 2px double;
    border-radius: 50px;
    padding: 5px;
}
a.pagin-link:hover {
    box-shadow: 0 0 10px
}
a.pagin-link-selected {
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
}