{% load static %}
{% load categories_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'myapp/css/style.css' %}" type="text/css">
		<title>shop</title>
	</head>
	<body>
		<div class="category">
			{% get_cats as categories %}
			{% for cat in categories %}
				<h1>
					<a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a>
				</h1>
			{% endfor %}
		</div>
		<div class="menu">
			<a href="{% url 'home' %}">Главная</a>
			{% for m in menu %}
				<a href="{% url m.url %}">{{ m.title }}</a>
			{% endfor %}
		</div>
		{% block content %}
		{% endblock content %}
	</body>
</html>