{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="item">
	{% for i in item %}
		{% if i.is_piblished %}
			<ul class="card-item">
				<li>{{ i.name }}</li>
					<p>Price: {{ i.price }}$</p>
					<form action="{{ i.get_absolute_url }}" method="get">
						<input type="submit" name="item-detail" value="Посмотреть товар" class="buy-button">
						<input type="button" name="buy" value="Купить" class="buy-button" >
					</form>
					<hr>
			</ul>
		{% endif %}
	{% endfor %}
</div>

{% endblock content %}