{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="item">
	{% for item in items %}
		{% if item.is_piblished %}
			<div class="card" style="width: 18rem; margin-bottom: 25px;">
			  <div class="card-body">
			    <h5 class="card-title">{{ item.name }}e</h5>
			    <h6 class="card-subtitle mb-2 text-muted">{{ item.cat }}</h6>
			    <a href="{{ item.get_absolute_url }}" class="card-link">show detail</a>
			    <a href="#" class="card-link">BUY</a>
			  </div>
			</div>
		{% endif %}
	{% endfor %}
</div>

{% endblock content %}