{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="item">
	{% for item in items %}
		{% if item.is_piblished %}
			<div class="card" style="width: 18rem; margin-bottom: 25px; margin-left: 25px;">
			  <div class="card-body">
			    <h5 class="card-title">Товар: {{ item.name }}e</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Категория: {{ item.cat }}</h6>
				  <div class="link-detail">
					  <a href="{{ item.get_absolute_url }}" class="card-link-detail" style="text-decoration: none;">show detail</a>
				  </div>

			    <a href="#" class="card-link" style="text-decoration: none;">BUY</a>
			  </div>
			</div>
		{% endif %}
	{% endfor %}
</div>

{% endblock content %}